.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
  width: 100%;
  padding: 1rem 0;
  border-bottom: 2px solid black;
}

.navItem {
  margin-right: 1em;
  font-weight: 700;
  font-size: 1.2rem;
  border: 1px solid #8900d8;
  line-height: 1;
  padding: 0.5rem;
  -webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
  box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 0.5rem;
}

.listItem::before {
  content: "»";
  border-radius: 100%;
  padding-inline: 1ch;
  padding-inline-start: 0;
}

.lightText {
  color: #666;
}

.justifyContent {
  display: flex;
  justify-content: space-between;
}
.spotifyItem {
  margin: 1rem auto 0;
  height: 352px;
  width: 45%;
}

@media screen and (max-width: 600px) {
  /* … */
  .navItem {
    font-size: 1rem;
    padding: 0.4rem;
  }
  .navbar {
    padding: 0.5rem 0 1rem;
  }

  .spotifyItem {
    width: 100%;
    height: 380px;
  }
  .justifyContent {
    flex-wrap: wrap;
    flex-direction: column;
  }
}